<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljc.chaocommunity.mapper.PostAuditFileMapper">

    <insert id="insertBatch">
        INSERT INTO post_audit_file (audit_id, file_id, type, create_time) VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.auditId}, #{item.fileId}, #{item.type}, #{item.createTime})
        </foreach>
    </insert>

</mapper>
